!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title Piedra, papel, tijeras
    %link{:href => "/public/style.css", :rel => "stylesheet"}
    %link{:rel => "icon", :type => "image/png", :href => "/public/img/favicon2.jpg"}
  %body#global
    %center
      %h1#titulo Jugando a -> Piedra, Papel o Tijeras
      %h2#usuario Usuario
      %br
      -throws.map do |x| 
        %a{:href=>"/?choice=#{x}"}
          %button#boton #{x}
      %br
      %br
      %h2#ordenador Ordenador
      %h3#oponente=computer_throw
      %h2#resultado Resultado
      %h3#resul=answer
      %h2#historial Historial
    
      %form#form
        %label{:for => "title"} Victorias:
        %input{name: "twin", type: "text", value: "#{win}"}
        %br
        %label{:for => "title"} Derrotas:
        %input{name: "twin", type: "text", value: "#{lose}"}
        %br
        %label{:for => "title"} Empates:
        %input{name: "twin", type: "text", value: "#{tie}"}
        %br
        %label{:for => "title"} Partidas:
        %input{name: "twin", type: "text", value: "#{play}"}
      %br
      %br
